{% extends 'base.html' %}

{% block content %}

<div class="heading menu-heading">
    <h1>Welcome to James's Favourites</h1>
    <h4>Click below to view my a list of my favorite things<br>Please feel free to add some of your own</h4>
</div>

<div class="menu-content">
    <div class="container">
        <div class="row menu-row align-items-end">
            <div class="col-10 col-lg-8 mx-auto">
                <div class="menu-container movies-btn">
                    <p>MOVIES</p>
                    <a href="{{ url_for('movies') }}">
                        <span class="link"></span>
                    </a>
                </div>
                <div class="menu-container songs-btn">
                    <p>SONGS</p>
                    <a href="{{ url_for('songs') }}">
                        <span class="link"></span>
                    </a>
                </div>
                <div class="menu-container tbc-btn">
                    <p>MORE TBC</p>
                    <a href="#">
                        <span class="link"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
